@media screen and (min-width: 768px) {
    header {
        flex-wrap: nowrap;
        background-color: var(--card-bg);
    }

    #menu-toggle {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        width: auto;
        margin-top: 0;
        background: none;
    }

    nav a {
        border-bottom: none;
        padding: 0.5rem 1.25rem;
        margin-left: 0.25rem;
        border-radius: 6px;
    }

    /* Grid mapping structure layout  */
    .grid-layout {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    /* List format structure layout  */
    .list-layout .member-card {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .list-layout .member-card h4 {
        flex: 2;
    }
    
    .list-layout .member-card p {
        flex: 2;
        text-align: left;
    }

    .list-layout .member-card p:last-of-type {
        flex: 1;
        text-align: right;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
    }

    .footer-social {
        justify-content: center;
        align-self: center;
    }

    .footer-meta {
        text-align: right;
    }




    /* Home page CSS: Responsive Multi-Column Layout for Desktop (Home Page) */
    .home-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "hero hero"
            "events weather"
            "spotlights spotlights";
        gap: 2rem;
    }

    .hero-box {
        grid-area: hero;
    }

    .hero-img {
        height: 420px;
    }

    .cta-overlay h1 {
        font-size: 2.2rem;
    }

    .events-card {
        grid-area: events;
    }

    .weather-card {
        grid-area: weather;
    }

    .spotlights-wrapper {
        grid-area: spotlights;
    }

    .spotlight-grid {
        grid-template-columns: repeat(3, 1fr);
    }


}